<div class="container">
  <div class="footer-container">
    <div class="footer-logo">
      <img
        width=""
        height=""
        loading="lazy"
        src="{{ section.settings.footer_logo | image_url }}"
        alt="logo"
      >
    </div>
    <div class="footer-links">
      <ul>
        {% for link in linklists['main-menu'].links %}
          <li>
            <a class="link link--upper link--medium link--semibold link--white" href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer-subscribe">
      <h3 class="title--white">Subscribe to our newsletter</h3>
      <p class="paragraph--white">Join to our newsletter for the latest updates!</p>
      <form action="" class="form-subscribe">
        <input type="email" placeholder="Enter your email address" class="input input--radius input--gray">
        <button class="btn btn--radius btn--gradient btn--medium">Subscribe</button>
      </form>
      <div class="redes-social">
        <div class="instagram">
          <a target="_blank" href="https://www.instagram.com/">
            <img
              width=""
              height=""
              loading="lazy"
              src="{{ 'instagram.svg' | asset_url }}"
              alt="instagram"
            >
          </a>
        </div>
        <div class="facebook">
          <a target="_blank" href="https://es-la.facebook.com/login/device-based/regular/login/">
            <img
              width=""
              height=""
              loading="lazy"
              src="{{ 'Facebook.svg' | asset_url }}"
              alt="facebook"
            >
          </a>
        </div>
        <div class="youtube">
          <a target="_blank" href="https://www.youtube.com/">
            <img
              width=""
              height=""
              loading="lazy"
              src="{{ 'Youtube.svg' | asset_url }}"
              alt="youtube"
            >
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="paragraph paragraph--gray paragraph--semibold">Copyright &copy; 2024 Fire Alert. All Rights Reserved</p>
  </div>
</div>
