<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ 'reset.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
